body {
    text-align: center;
    color: orchid;
    background-image: url("fon.jpg");
}

label {
    display: inline-block;
}

.from {
    font-size: 300%;
}
.from input{
    width:16rem;
    height:1.7rem;
}

button {
    font-size: 3rem;
}